@use "../../node_modules/uniformcss/dist/uniform.min.css" as *;
@use "../../node_modules/flexboxgrid/css/flexboxgrid.min.css" as *;


.l-container{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
    width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
}
@import "partials/project_mixins";
@import "partials/header";
@import "partials/home";
@import "partials/success";
@import "partials/gallery";
@import "partials/believing";
@import "partials/feedback";
@import "partials/clients";
@import "partials/pricing";
@import "partials/footer";




